h1 {
    margin-left: 70px;
}

form li {
    list-style: none;
    margin-bottom: 5px;
}

form ul li label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

form ul li input, select, span {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background: #fff none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-bottom: 20px;
}

form textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    border-collapse: separate;
    display: table-cell;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    height: auto;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background: #fff none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    overflow: auto;
    margin-bottom: 20px;
    min-height: 100px;

}
form textarea:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
/*[type="submit"] {
    clear: left;
    margin: 20px 0 0 230px;
    font-size: 18px
}*/


input[type="submit"] {
    float: right!important;

    color: #fff;
    display: inline-block;

    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

    touch-action: manipulation;
    cursor: pointer;

    user-select: none;
    background: #5bc0de none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: initial;
}

input[type="submit"]:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

input[type="submit"]{
float: right!important;
}
input[type="submit"]:active {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

input[type="submit"]:focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85;
}


p {
    margin-left: 70px;
    font-weight: bold;
}